<div class="form-details form-profile">
    <div class="d-flex align-items-center">
        <%= image_tag(@girl.avatar_url(:thumb), class:'img-circle-avatar') if @girl.avatar? %>
        <div class="btn btn-light">¿Qué estás pensando</div>
    </div>
    <hr>
    <div class="d-flex align-items-center justify-content-between">
        <div class="btn btn-light btn-white d-flex align-items-center justify-content-center">
            <%= inline_svg_tag('icons/icon_video.svg', class:'me-2') %>
            Video
        </div>
        <div class="btn btn-light btn-white d-flex align-items-center justify-content-center">
            <%= inline_svg_tag('icons/icon_img.svg', class:'me-2') %>
            Foto
        </div>
    </div>
</div>