<% if user_signed_in? && @girl.user == current_user %>
    <div class="form-perfil d-flex justify-content-start">
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-perfil">
            Editar Perfil
        </button>
        <%= link_to 'Ver ganancias', girl_bits_path(@girl), class:'btn btn-light' %>
    </div>
<% end %>