<div class="form-details">
	<h3 class="cursor-pointer d-flex justify-content-between" data-bs-toggle="collapse" data-bs-target="#collapseDetails" aria-expanded="false" aria-controls="collapseExample">
		<span>Información</span> <strong><i class="bi bi-chevron-expand"></i></strong>
	</h3>
	<div id="collapseDetails" class="collapse">
		<%= render "details"%>
	</div>
</div>