<div class="form-details">
    <h3>Detalles</h3>
    <div class="btn btn-light">Editar detalles</div>
    <div class="btn btn-light">Agregar pasatiempos</div>
    <div class="btn btn-light">Agregar destacados</div>
</div>