<div class="form-details">
    <h3>Detalles</h3>
    <div class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-details">Editar Info</div>
    <div class="btn btn-light">Agregar Servicios</div>
    <div class="btn btn-light">Agregar Salud</div>
</div>