
    <div class="row text-center">
        <h2>Fácil y sencillo</h2>
        <h4>Únete al club de las mas lindas chicas</h4>
        <div class="mb-3">
            <div class="btn btn-outline-primary">Únete</div>
        </div>
    </div>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6">
        <div class="col public d-flex justify-content-center">
            <div class="img">
                <div class="title-card">Danila</div>
                <div class="local-card">M. La Moneda</div>
            </div>
            
        </div>
        <div class="col public d-flex justify-content-center">
            <div class="img">
                <div class="title-card">Danila</div>
                <div class="local-card">M. La Moneda</div>
            </div>
        </div>
        <div class="col public d-flex justify-content-center">
            <div class="img">
                <div class="title-card">Danila</div>
                <div class="local-card">M. La Moneda</div>
            </div>
        </div>
        <div class="col public d-flex justify-content-center">
            <div class="img">
                <div class="title-card">Danila</div>
                <div class="local-card">M. La Moneda</div>
            </div>
    
        </div>
        <div class="col public d-flex justify-content-center">
            <div class="img">
                <div class="title-card">Danila</div>
                <div class="local-card">M. La Moneda</div>
            </div>
            
        </div>
        <div class="col public d-flex justify-content-center">
            <div class="img">
                <div class="title-card">Danila</div>
                <div class="local-card">M. La Moneda</div>
            </div>
    
        </div>
        <div class="col public d-flex justify-content-center">
            <div class="img">
                <div class="title-card">Danila</div>
                <div class="local-card">M. La Moneda</div>
            </div>
            
        </div>
        <div class="col public d-flex justify-content-center">
            <div class="img">
                <div class="title-card">Danila</div>
                <div class="local-card">M. La Moneda</div>
            </div>
    
        </div>
        <div class="col public d-flex justify-content-center">
            <div class="img">
                <div class="title-card">Danila</div>
                <div class="local-card">M. La Moneda</div>
            </div>
            
        </div>
        <div class="col public d-flex justify-content-center">
            <div class="img">
                <div class="title-card">Danila</div>
                <div class="local-card">M. La Moneda</div>
            </div>
    
        </div>
    </div>

