<div class="d-flex justify-content-between py-2">
    <div class="d-flex align-items-center">
        <div class="circle-img">
            
        </div>
        <div class="title-name">
            <div class="name">Danilo</div>
            <div class="direction">M. la Moneda</div>
        </div>
    </div>
    <div class="icons d-flex align-items-center justify-content-between">
        <%= inline_svg_tag 'icons/heart.svg' %>
        <%= inline_svg_tag 'icons/phone.svg' %>
    </div>
</div>