
<div id="comment-<%= comment.id %>" class="d-flex">
    <%= image_tag(User.find(comment.user.to_i).avatar_url(:thumb), class:'img-circle-avatar image-circle-avatar-comment') if User.find(comment.user).avatar? %>
    <span>
        <div class="title-message">
            <%= User.find(comment.user.to_i).nickname %>
        </div>
        <div class="message-message">
            <%= comment.message %>
        </div>
    </span>
</div>