<%= render './partials/header'%>
<div class="container bg-white p-3 rounded shadow-sm container-politics">
   <h2><span>POL&Iacute;TICAS DE PRIVACIDAD</span></h2>
   <div><span>&nbsp;</span></div>
   <p><span>&Uacute;ltima actualizaci&oacute;n: 09 de Mayo de 2022</span></p>
   <p><span>Esta Pol&iacute;tica de privacidad describe c&oacute;mo y cu&aacute;ndo recopilamos, usamos y compartimos su informaci&oacute;n. Tambi&eacute;n describe sus derechos con respecto a los datos que almacenamos. Por favor lea cuidadosamente este documento.</span></p>
   <p><span><br></span></p>
   <h3><span>QUIENES SOMOS</span></h3>
   <p><span>Este sitio web es operado por MiTarde enfocados al entretenimiento para adultos.</span></p>
   <p><span><br></span></p>
   <h3><span>RENUNCIA</span></h3>
   <p><span>Al usar este sitio web, usted acepta que podemos usar cualquier informaci&oacute;n personal que haya proporcionado o que se haya recopilado para cualquier prop&oacute;sito dentro de las restricciones de la ley, incluidas las t&eacute;cnicas administrativas de investigaci&oacute;n y desarrollo, administraci&oacute;n de clientes, comercializaci&oacute;n, verificaci&oacute;n de edad, promoci&oacute;n y publicidad por este sitio web o terceros autorizados.</span></p>
   <p><span>Toda la informaci&oacute;n recopilada se puede compartir para cumplir con la ley aplicable y / o para cooperar con las agencias de aplicaci&oacute;n de la ley y los tribunales / cortes.</span></p>
   <p><span><br></span></p>
   <h3><span>QU&Eacute; DATOS RECOPILAMOS Y POR QU&Eacute;</span></h3>
   <p><span>Para poder proporcionar nuestro servicio cuando se suscribe, recopilamos los siguientes datos:</span></p>
   <p><span>&ndash; Su direcci&oacute;n de correo electr&oacute;nico, nombre de usuario y contrase&ntilde;a para que pueda iniciar sesi&oacute;n en el sitio web y podamos proporcionarle informaci&oacute;n sobre su cuenta.</span></p>
   <p><span>- en el caso de Facebook, Google, no almacenamos contrase&ntilde;as, todos los inicios de sesi&oacute;n, adem&aacute;s de los registros solo se guarda el nombre y el avatar proporcionado por el proveedor, la contrase&ntilde;a se crea con cifrado interno de la app, resguardando estos datos.</span></p>
   <p><span>En ocasiones, tambi&eacute;n le enviaremos actualizaciones de contenido y ofertas especiales nuestras o de nuestros socios. Puede optar por no recibirlos en cualquier momento.</span></p>
   <p><span><br></span></p>
   <h3><span>MANTENIENDO SUS DATOS SEGUROS</span></h3>
   <p><span>Todos sus datos se almacenan de forma segura.</span></p>
   <p><span>Hemos adoptado e implementado tecnolog&iacute;a est&aacute;ndar de la industria para mantener la seguridad de toda la informaci&oacute;n personal recopilada por nuestros sitios web.</span></p>
   <p><span>Si bien utilizamos salvaguardas f&iacute;sicas, administrativas y t&eacute;cnicas comercialmente razonables para proteger su informaci&oacute;n personal, la transmisi&oacute;n de informaci&oacute;n a trav&eacute;s de Internet nunca puede ser cien por ciento segura. Como resultado, no podemos asumir ninguna responsabilidad si la informaci&oacute;n relacionada con cualquier suscriptor es interceptada y / o utilizada por un destinatario no deseado.</span></p>
   <p><span><br></span></p>
   <h3><span>CON QUI&Eacute;N COMPARTIMOS SUS DATOS</span></h3>
   <p><span>No compartimos sus datos con ninguna entidad privada ni gubernamental.</span></p>
   <p><span><br></span></p>
   <h3><span>CU&Aacute;NTO TIEMPO ALMACENAMOS SUS DATOS</span></h3>
   <p><span>A menos que solicite que se eliminen, almacenaremos sus datos por un m&aacute;ximo de 6 meses desde el momento en que usted no realiza uso de su cuenta.</span></p>
   <p><span><br></span></p>
   <h3><span>COOKIES</span></h3>
   <p><span>Como casi cualquier otro sitio web, utilizamos cookies (peque&ntilde;os fragmentos de datos almacenados en su dispositivo) para habilitar, proteger y mejorar el funcionamiento de nuestros sitios web.</span></p>
   <p><span>Estas cookies no contienen datos de identificaci&oacute;n personal, y se utilizan para diversos fines, como el seguimiento de su movimiento a trav&eacute;s de los sitios con el fin de ayudarnos a mejorar su experiencia y servirle publicidad relevante etc.</span></p>
   <p><span><br></span></p>
   <h3><span>CARACTER&Iacute;STICAS OPCIONALES</span></h3>
   <p><span>Al crear su cuenta de forma voluntaria usted autoriza a usar su direcci&oacute;n de correo electr&oacute;nico para enviarle actualizaciones de contenido y ofertas especiales de nosotros o nuestros sitios. Puede cambiar su configuraci&oacute;n de marketing por correo electr&oacute;nico en cualquier momento en la configuraci&oacute;n del env&iacute;o d&aacute;ndose de baja de nuestra lista de marketing.</span></p>
   <p><span><br></span></p>
   <h3><span>CAMBIOS EN ESTAS POL&Iacute;TICAS DE PRIVACIDAD</span></h3>
   <p><span>Podemos actualizar nuestra Pol&iacute;tica de privacidad de vez en cuando. Le informaremos por un aviso destacado sobre nuestro sitio, antes de que el cambio entre en vigencia y actualizaremos la &quot;fecha de vigencia&quot; en la parte superior de esta Pol&iacute;tica de privacidad.</span></p>
   <p><span>Se le recomienda que revise esta Pol&iacute;tica de privacidad peri&oacute;dicamente para detectar cualquier cambio. Los cambios a esta Pol&iacute;tica de privacidad son efectivos cuando se publican en esta p&aacute;gina.</span></p>

</div>