<div class="header row">
    <div class="col text-start">

    </div>
    <div class="col d-flex justify-content-center align-items-center"><h1><%= link_to 'Core', :root, class:'link-title' %></h1></div>
    
    <div class="col"></div>
    
    
</div>
