<div class="succes-inscription">
    <%= image_tag('success.png', class:'icon-success')%>
    <h1>Datos enviados correctamente.</h1>
    <p>Envía este folio #<%= @inscription.id %> al admin "linkTelegram" para acelerar el proceso. </p>
    <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
</div>