

<div class="container box-content">
   <h2>Orden de Compra <strong><%= @payment.buy_order %></strong> fué rechazada</h2>
   
   <p>Las posibles causas de este rechazo son:</p>
   <ul>
      <li>Error en el ingreso de los datos de su tarjeta de crédito o débito (fecha y/o código de seguridad).</li>
      <li>Su tarjeta de crédito o débito no cuenta con saldo suficiente.</li>
      <li>Tarjeta aún no habilitada en el sistema financiero.</li>
   </ul>
</div>