
<%= render './partials/header' %>
<div class="container box-content">
   <h2>Ocurrió un error inesperado.</h2>
   
   <p>Inténtalo nuevamente o contacta con nuestro correo de contacto al <a href="mail:contacto@mitarde.cl" target="_blank">Servicio al Cliente</a>.</p>
</div>