
<div class="row">
    <% @posts.last(9).each do |post| %>
        <% if post.img.present? %>
            <div class="col-4 mb-3">
                <%= image_tag(post.img_url(:thumb)) %>
            </div>
        <% end %>
    <% end %>
</div>