    <div id="box-posts" class="box-posts">
        <%= render @posts %>
    </div>
    <div id="paginate-posts" class="d-none">
        <%= paginate @posts, remote:true %>
    </div>
<%= render './comments/modal_comments' %>