<div class="header-bits">
    <div class="d-flex justify-content-between align-items-center">
        <div class="amount">
            <small>Saldo Pendiente</small>
            <div>
                <%= number_to_currency @amount_pending, precision:0, delimiter:'.' %> bits
            </div>
        </div>
        <div class="perfil">
            <small>
                <%= @girl.name.titleize %>
            </small>
            <%= image_tag @girl.avatar_url(:thumb), class:'img-circle-avatar' %>
        </div>
    </div>
    <div class="overflow-info shadow">
        <h2>hola</h2>
    </div>
</div>







<%= render './bits/modals/bits_table' %>