// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$lightHoverPrimary:      #FF5733;
$rosa:                   #BF396A;


.form-control:focus{
    outline:0 !important;
    border-color: #ced4da !important;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0) !important;
}
.box-comments{
    position: relative;
    margin-top:.4rem !important;
    margin-bottom:.4rem !important;
    .box-comments{
        position: relative;
        margin-left: 24px;
        border-left: 2px solid #e6d3c8c7;
        .box-comment{
            position: relative;
            padding-left: 10px;
        }
        .box-comment::before{
            content:"";
            height:20px;
            width: 15px;
            border-bottom: 2px solid #e6d3c8c7;
            border-left: 2px solid #e6d3c8c7;
            border-radius: 0 0 0 20px;
            position: absolute;
            top: 2px;
            left: -2px;
        }
        .box-comment:first-child::after{
            content:"";
            height:30px;
            border: 1px solid #e6d3c8c7;
            position: absolute;
            top: -30px;
            left: -2px;
        }
        
    }
    span{
        padding: 5px 10px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.05);
        margin: 2px 10px;
        font-size: 12px;
        .title-message{
            font-weight: 600;
            line-height: 20px;
            color:$lightHoverPrimary;
        }
    }
}

.row-likes{
    margin:0 20px;
    .btn-link{
        color: #6F6F6F !important;
        text-align: center;
        width: 100%;
        margin: 0 !important;
        font-size: 12px !important;
    }
}

.modal{
    .modal-dialog{
        margin:0 auto !important;
    }
    .modal-header{
        padding: 5px 1rem;
    }
    .modal-content{
        height: 100vh !important;
    }
}

.comment-link{
    border: 1px solid #CFD2D2;
    border-radius: 4px 4px 0 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 5px 0 5px;
    border-bottom: 0;
}



.conteo-likes{
    padding: .4rem 0 0 0;
    font-size: 12px;
    color: #999;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}

.links-comment{
    margin-left: 55px;
    font-size: 10px !important;
    margin-bottom: 5px;
    color:#999;
    i{
        vertical-align: middle;
    }
    [class^="bi-"]::before, [class*=" bi-"]::before{
        line-height:0 !important;
        display: flex;
        align-items: center;
    }
    .btn-link{
        font-size: 10px;
        padding: 0;
        color:#999 !important;
        margin-top: 0;
        font-weight: 600;
    }
}

.input-group-comment{
    padding: 0 5px;
    input{
        border-radius: 20px 0 0 20px;
    }
    .input-comment{
        border-right: 0 !important;
    }
    .button-comment{
        border-radius: 0 20px 20px 0 !important;
        border: 1px solid #ced4da !important;
        box-shadow: none !important;
        border-left: 0 !important;
        &:hover{
            background-color: $lightHoverPrimary;
        }
    }
    .reply-comment{
        border-radius: 0 0 0 20px !important;
    }
    .reply-button{
        border-radius: 0 0 20px 0 !important;
    }

}

.modal-header-likes{
    min-height: 40px;
}

.close-reply{
    position: absolute;
    top: 0;
    right: 5px;
    padding: 1px 3px 0 3px;
    border: 1px solid #ced4da;
    border-radius: 0 4px 0 10px;
    cursor: pointer;
}

.link-reply, .count-reply{
    box-shadow: none !important;
}

.badge-error-comment{
    margin-left: 10px;
    margin-bottom: 12px;
}

.modal-content-reply{
    .modal-header{
        justify-content:left !important;
    }
    .close-modal{
        padding: 20px 12px;
        border-radius: 50%;
    }
    .modal-footer{
        .box-comments{
            padding-left: 0 !important;
            border-left:0 !important;
            border-radius: 0 !important;
            .close-reply{
                height: 25px;
                display: flex;
                align-items: center;
            }
        }
    }
    .focus{
        p{
            margin-bottom: 0;
        }
        border-left: 2px solid #CFD2D2;
        border-radius: 0;
        background-color: #91fdeed4;
        padding: 5px;
        margin-right: 24px;
        box-shadow: rgba(158, 158, 158, 0.25) 0px 2px 2px -1px, rgba(146, 146, 146, 0.3) 0px 1px 2px -1px;
    }
}

.icon-comment-trash{
    position: absolute;
    right: -25px;
    top: -5px;
    box-shadow: none;
    svg{
        width: 15px;
        fill: $rosa;
    }
}

.dropup-right{
    .dropdown-menu{
        right: -15px;
    }
}

.position-relative{
    position: relative;
}