// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// colores

$primaryColor:           #FA8072;
$secondaryColor:         #DAF7A6;
$yellow:                 #FFC300;
$red:                    #FF5733;
$hoverPrimary:           #C70039;
$resaltColor:            #900C3F;

// paleta de colores

$rosa:                   #BF396A;
$azul:                   #1b959a;
$amarillo:               #F2C641;
$anaranjado:             #D96A29;
$negro:                  #0D0D0D;

// light colors

$lightPrimary:           #FFA07A;
$lightGreen:             #DAF7A6;
$lightRed:               #FA8072;
$lightYellow:            #FFC300;
$lightHoverPrimary:      #FF5733;
$lightResaltColor:       #C70039;
$backgroundGrey:     #F9F9F9;



// buttons
.btn{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.btn-outline-primary{
    color: $rosa !important;
    border-color: $rosa !important;
}
.btn-outline-primary:hover{
    color: white !important;
    border-color: $rosa !important;
    background-color: $rosa !important;
}
.btn-primary{
    color: white !important;
    border-color: $rosa !important;
    background-color: $rosa !important;
}
.btn-primary:hover{
    color: white !important;
    border-color: $hoverPrimary !important;
    background-color: $hoverPrimary !important;
}
.btn-outline-primary:active{
    color: white !important;
    border-color: $anaranjado !important;
    background-color: $anaranjado !important;
}

.header{
    background-color: #fff;
    padding: 0;
    text-align: center;
    box-shadow: rgba(158, 158, 158, 0.25) 0px 2px 2px -1px, rgba(146, 146, 146, 0.3) 0px 1px 2px -1px;    
    position: relative;
    margin-bottom: 2px;
}

h1{
    font-weight: 700 !important;
    color: $rosa;
    margin-bottom: 0 !important;
}

.container{
    margin: 8px 0 50px 0;
}

.public{
    padding-bottom: 100px;
    text-align: center;
    padding: 0 !important;
    transition: .3s;
    .title-card{
        padding: 4px 0;
        font-size: 14px;
        font-weight: 600;
        color: white;
        background-color: rgba(115, 43, 128, 0.2);
        // backdrop-filter: blur(3px);
        // -webkit-backdrop-filter: blur(3px);
        position: absolute;
        bottom: 0;
        width: 100%;
    }
   
}

.grid{
    box-sizing: border-box;
    display: block;
    margin: auto;
    width: 908px;

    .grid-item{
        position: inherit;
        width: 20%;
        box-sizing: border-box;
        display: block;
        float: left;
    }
}


.img{
    position: relative;
    float: left;
    overflow: hidden;
    display: block;
    width: 100%;
    margin: 1px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 4px;
    .img-item{
        box-sizing: border-box;
        overflow: hidden;
        img{
            position: relative;
            display: block;
            width: 100%;
            -webkit-transition: transform .3s ease-in-out;
            transition: transform .3s ease-in-out;
            &:hover{
                transform: scale(1.07);
            }
        }
        
    }
}

.box-bottom{
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 100px;
}

// margins

.m-24{
    margin: 24px;
}
.mt-24{
    margin-top: 24px;
}
.mb-24{
    margin-bottom: 24px;
}
.ml-24{
    margin-left: 24px;
}
.mr-24{
    margin-right: 24px;
}

.mt-100{
    margin-top: 100px;
}

.circle-img{
    border-radius: 50%;
    border: .5px solid $negro;
    height: 2.5rem;
    width: 2.5rem;
}

.title-name{
    margin-left: 10px;
    .name{
        font-weight: 600;
    }
    .direction{
        font-size: .7rem;
    }
}

.icons{
    svg{
        margin-left: 2rem;
        stroke-width: 1;
        width: 32px;
        height: 32px;
    }
}

.footer{
    padding: 10px 0;
    text-align: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: fixed;
    width: 100%;
    bottom: 0;
    .title-footer{
        color: $resaltColor;
    }
}

@media (max-width: 959.9px){
    .grid{
        width: 100vw;
    }
    .grid .grid-item{
        width: 50%;
    }
    .picture-portada{
        .portada{
            width: 100vw;
        }
    }
    
}
@media (min-width: 960px) and (max-width: 1200px){
    .grid .grid-item{
        width: 33%;
    }
}