.loader{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1300;
    padding-left: 40px;
	transition: all 0.1s;
	transition: opacity 0.3s linear;
    h1{
        margin-top: 200px; 
        margin-left: -100px;
        svg{
            width: 150px;
        }
    }
}
.hidden-loader{
	overflow: hidden;
}
svg.tea{
    --secondary: #33406F;
    transform: scale(3);
  
    #teabag{
        transform-origin: top center;
        transform: rotate(6deg);
        animation: swing 2s infinite;
    }
  
    #steamL{
        stroke-dasharray: 13;
        stroke-dashoffset: 13;
        animation: steamLarge 2s infinite;
    }
  
    #steamR{
        stroke-dasharray: 9;
        stroke-dashoffset: 9;
        animation: steamSmall 2s infinite;
    }

}

@keyframes swing{
    50%{ transform: rotate(-4deg); }
}

@keyframes steamLarge{
    0%{ 
        stroke-dashoffset: 13;
        opacity: .6;
    }
    100%{ 
        stroke-dashoffset: 39;
        opacity: 0;
    }

}

@keyframes steamSmall{
    10%{ 
        stroke-dashoffset: 9;
        opacity: .6;
    }
    80%{
        stroke-dashoffset: 27;
        opacity: 0;
    }
    100%{ 
        stroke-dashoffset: 27;
        opacity: 0;
    }
}