$primaryColor: #C70039;
$box_shadow:rgba(158, 158, 158, 0.25) 0px 2px 2px -1px, rgba(146, 146, 146, 0.3) 0px 1px 2px -1px;

.link-bottom-users{
    a{
        font-size:14px;
        text-decoration: none;
        color:$primaryColor;
        &:hover{
            text-decoration: underline;
        }
    }
}
.links-users{
    a{
        margin-right: 5px;
    }
}

.new_user{
    .form-group{
        label{
            color: #72777c;
            font-size: 14px;
            font-weight:400;
        }
    }
    .form-control{
        outline:none !important;
        border: none !important;
        background-color: #fff !important;
        box-shadow: 0px 0px 3px #24003e !important;
        height: 40px;
    }
    .form-check-label{
        color: #72777c;
        font-size: 14px;
    }
    .form-check-input{
        width: 1.1em;
        height: 1.1em;
        box-shadow:$box_shadow;
        transition: all 0.5s ease;
    }
}

.box-shadow{
    box-shadow:$box_shadow;
}

#button-upload-avatar{
    background: white;
    border: 2px;
    border-style: dashed;
    padding: 10px;
    border-radius: 4px;
    height: 100px;
    transition: all 0.5s ease;
    &:hover{
        background-color: #f0f8ff;
        border-color: $primaryColor;
        color: $primaryColor;
        cursor: pointer;
    }
}