

// colores

$primaryColor:           #FA8072;
$secondaryColor:         #DAF7A6;
$yellow:                 #FFC300;
$red:                    #FF5733;
$hoverPrimary:           #C70039;
$resaltColor:            #900C3F;

// light colors

$lightPrimary:           #FFA07A;
$lightGreen:             #DAF7A6;
$lightRed:               #FA8072;
$lightYellow:            #FFC300;
$lightHoverPrimary:      #FF5733;
$lightResaltColor:       #C70039;