<div class="d-flex justify-content-center">
  <h2 class="mb-0">Hola <%=  current_user.try(:nickname)%></h2><%= link_to "Atrás", :back %>
  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-perfil"><i class="bi bi-pencil-square"></i></button>
</div>

<%= render "edit_form"%>

<% likes = PolyLike.where(user_id:current_user.id, likeable_type:'Girl') %>
<% likes.each do |like| %>
  <% girls = Girl.find(like.likeable_id) %>
  <%= girls.name %>
<% end %>
