<div class="d-flex justify-content-center">
  <h2 class="mb-0">Hola <%=  current_user.try(:nickname)%></h2><%= link_to "Atrás", :back %>
  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-perfil"><i class="bi bi-pencil-square"></i></button>
</div>

<%= render "edit_form"%>
