<div class="d-flex justify-content-center">
  <%= link_to "Atrás", :back %>
  <h2 class="mb-0">Hola <%=  current_user.try(:nickname).titleize %></h2>
  <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modal-perfil"><i class="bi bi-pencil-square"></i></button>
</div>

<%= render "edit_form"%>
<div class="container text-center">
  <h1>Estas son las chicas que te gustan.</h1>
</div>

<% likes = PolyLike.where(user_id:current_user.id, likeable_type:'Girl') %>
<% likes.each do |like| %>
  <% girl = Girl.find(like.likeable_id) %>
  <div class="grid">
    <%= render partial:'./girls/girl', locals:{girl:girl} %>
  </div>
<% end %>
